<!-- Use this file to include javascripts and stylesheets -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title><%= File.basename(File.expand_path(RAILS_ROOT)) %></title>
	<meta name="keywords" content="ip">
</head>
